.wrapper {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(48, 9, 97, 0.3);
  backdrop-filter: blur(7.5px);
  position: fixed;
  transition: all 0.5s ease-in-out;
}
.container {
  max-width: 670px;
  height: 425px;
  background: radial-gradient(
    42.84% 203.07% at 15.58% -40.39%,
    #323e51 0%,
    #1d2532 100%
  );
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 56px 70px 90px 40px;
  transition: all 0.5s ease-in-out;
  opacity: 95%;
}

.closes {
  position: absolute;
  top: 20px;
  right: 25px;
  height: 23px;
  width: 23px;
  cursor: pointer;
  color: #fff;
  &:hover {
    color: #c3f33b;
  }
}

.title {
  font-weight: 700;
  font-size: 45px;
  line-height: 105%;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 25px;
  max-width: 455px;
}

.text {
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 35px;
  max-width: 460px;
}

.input {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
  border: none;
  margin-bottom: 18px;
}

.btn {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #242424;
}

.showModal {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1080px) {
  .title {
    font-size: 32px;
  }

  .text {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

@media (max-width: 875px) {
  .title {
    font-size: 27px;
  }

  .text {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .input {
    padding: 12px 18px;
    margin-bottom: 18px;
    font-size: 14px;
  }

  .btn {
    width: 100%;
    font-size: 14px;
    padding: 12px 18px;
  }

  .container {
    height: 350px;
  }
}

@media (max-width: 780px) {
  .title {
    font-size: 20px;
  }

  .text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .container {
    height: 310px;
    padding: 50px 20px 20px 30px;
  }
  .closes {
    right: 20px;
    height: 18px;
  }
}

@media (max-width: 590px) {
  .title {
    font-size: 18px;
  }

  .text {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .container {
    height: 290px;
    padding: 50px 15px 15px 25px;
    width: 80vw;
  }
  .input {
    padding: 10px 16px;
    margin-bottom: 16px;
    font-size: 10px;
  }

  .btn {
    padding: 10px 16px;
  }
}

@media (max-width: 590px) {
  .container {
    height: 265px;
  }
  .title {
    font-size: 16px;
  }

  .text {
    font-size: 10px;
    margin-bottom: 15px;
  }

  .input {
    padding: 8px 14px;
    margin-bottom: 12px;
  }
  .btn {
    padding: 8px 14px;
  }
}
